<footer class="py-10 mx-6 mt-10 mb-6 text-white md:mb-12 md:mx-12 lg:pt-20 flex-0 bg-bg-primary lg:mb-0 lg:mx-0 lg:mt-20">
	<div class="container px-6 space-y-10 md:px-12">
		<div class="flex flex-col lg:flex-wrap lg:flex-row">
			<div class="w-full">
				<div class="md:flex md:justify-between md:items-center pb-8 border-b border-[#979797] mb-8">
					<a class="text-white text-large" href="{{ function('home_url') }}">
						{% include 'partials/logo.twig' %}
					</a>
				</div>
				{% include 'partials/footer-nav.twig' %}
			</div>

			<div class="border-t border-[#979797] md:mt-10 md:flex md:justify-between lg:w-full">
				<div class="pt-10">
					{% if footer_menu_bottom and footer_menu_bottom.items %}
						<ul class="flex space-x-5">
							{% for item in footer_menu_bottom.items %}
								<li class="">
									<a class="text-[15px] text-white" href="{{ item.link }}" title="Go to {{ item.title }} page.">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="flex items-center pt-10 space-x-6">
					<a href="https://www.linkedin.com/company/enterpriseethereumalliance/" target="_blank">
						<svg   class="block w-[25px] h-[25px]" width="25" height="25" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 3.5625C3.98223 3.5625 3.5625 3.98223 3.5625 4.5V13.5C3.5625 14.0178 3.98223 14.4375 4.5 14.4375H13.5C14.0178 14.4375 14.4375 14.0178 14.4375 13.5V4.5C14.4375 3.98223 14.0178 3.5625 13.5 3.5625H4.5ZM2.4375 4.5C2.4375 3.36091 3.36091 2.4375 4.5 2.4375H13.5C14.6391 2.4375 15.5625 3.36091 15.5625 4.5V13.5C15.5625 14.6391 14.6391 15.5625 13.5 15.5625H4.5C3.36091 15.5625 2.4375 14.6391 2.4375 13.5V4.5ZM6 7.6875C6.31066 7.6875 6.5625 7.93934 6.5625 8.25V12C6.5625 12.3107 6.31066 12.5625 6 12.5625C5.68934 12.5625 5.4375 12.3107 5.4375 12V8.25C5.4375 7.93934 5.68934 7.6875 6 7.6875ZM6.5625 6C6.5625 5.68934 6.31066 5.4375 6 5.4375C5.68934 5.4375 5.4375 5.68934 5.4375 6V6.0075C5.4375 6.31816 5.68934 6.57 6 6.57C6.31066 6.57 6.5625 6.31816 6.5625 6.0075V6ZM9.48036 7.95717C9.38156 7.79544 9.20339 7.6875 9 7.6875C8.68934 7.6875 8.4375 7.93934 8.4375 8.25V9.75V12C8.4375 12.3107 8.68934 12.5625 9 12.5625C9.31066 12.5625 9.5625 12.3107 9.5625 12V9.75C9.5625 9.50136 9.66127 9.2629 9.83709 9.08709C10.0129 8.91127 10.2514 8.8125 10.5 8.8125C10.7486 8.8125 10.9871 8.91127 11.1629 9.08709C11.3387 9.2629 11.4375 9.50136 11.4375 9.75V12C11.4375 12.3107 11.6893 12.5625 12 12.5625C12.3107 12.5625 12.5625 12.3107 12.5625 12V9.75C12.5625 9.20299 12.3452 8.67839 11.9584 8.29159C11.5716 7.9048 11.047 7.6875 10.5 7.6875C10.1394 7.6875 9.78845 7.78196 9.48036 7.95717Z" fill="white"/>
						</svg>
					</a>
					<a href="https://x.com/EntEthAlliance" target="_blank">
						<svg class="block w-[16px] h-[16px]" width="16" height="16" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.73508 6.35148L14.1991 0H12.9043L8.1599 5.5149L4.37056 0H0L5.73023 8.3395L0 15H1.29487L6.30508 9.17608L10.3069 15H14.6775L8.73477 6.35148H8.73508ZM6.96158 8.41297L6.38099 7.58255L1.76143 0.97476H3.75028L7.47831 6.30746L8.05891 7.13788L12.9049 14.0696H10.9161L6.96158 8.41329V8.41297Z" fill="white"></path>
						</svg>
					</a>
				</a>
				</div>
			</div>


		</div>
	</footer>

	{{ function('wp_footer') }}</body></html>
