<div class="fixed top-0 items-center hidden w-4/5 p-6 pt-10 pr-10 overflow-auto transition-all duration-500 translate-x-full bg-black lg:overflow-visible lg:bg-transparent lg:relative lg:w-auto inner-nav lg:translate-x-0 lg:p-0 lg:flex">
	<div class="z-20 flex items-center justify-between pb-5 ml-auto mr-0 text-white lg:hidden">
		<a class="text-white text-large" href="{{ function('home_url') }}">
			{% include 'partials/logo.twig' %}
		</a>
	</div>

	<nav class="z-20 main-navigation grow lg:grow-0 lg:ml-10">
		<ul class="main-menu">
			{% if menu and menu.items %}
				{% for item in menu.items %}
					<li class="{{ item.classes | join(' ') }}">
						<div class="flex items-center justify-between">

							{% if item.children %}
								<a class="flex pl-4 transition-all lg:text-[14px]" href="{{ item.link }}" title="Go to {{ item.title }} page.">
									{{ item.title }}
									<div class="flex items-center justify-between -mr-2 cursor-pointer">
										<svg class="w-6 h-6 ml-2 transition-all shrink-0 " fill="none" viewbox="0 0 24 24">
											<path fill="#fff" d="m9 8.125 3.88 3.88L9 15.885a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41l-4.59-4.59a.996.996 0 0 0-1.41 0c-.38.39-.39 1.03 0 1.42Z"/>
										</svg>
									</div>
								</a>
							{% else %}
								<a class="flex pl-4 transition-all lg:text-[14px]" href="{{ item.link }}" title="Go to {{ item.title }} page.">
									{{ item.title }}
								</a>
							{% endif %}
						</div>
						{% if item.children %}
							<ul class="sub-menu">
								{% for child in item.children %}
									<li class="{{ child.classes | join(' ') }}">
										<a target="{{child.target}}" href="{{ child.link }}" title="Go to {{ child.title }} page.">{{ child.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</nav>
</div>
