{% extends 'base.twig' %}
{% block content %}
	
	{% if post.thumbnail %}
		<div class="relative">
			<div class="absolute inset-0 z-20 hidden w-full h-full bg-black/60 md:block"></div>
			<div class="w-full -mt-[74px] aspect-h-1 aspect-w-1 overflow-hidden -z-10 relative md:aspect-w-16 md:aspect-h-11 lg:aspect-none lg:w-screen lg:height-[800px] lg:relative lg:-mt-[128px]">
				
				<img loading="lazy" class="absolute inset-0 z-10 block object-cover object-center w-full h-full" src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}" sizes="(max-width: 768px) 100vw, (max-width: 1024px) 60vw" alt="{{ post.thumbnail.alt | default('Image') }}">
			</div>
		</div>
	{% endif %}
	<div class="container relative z-20 px-4 -mt-20 md:px-12 lg:-mt-[500px]">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<h2 class="h1 lg:w-9/12">
				{{ post.title }}
			</h2>

			<section class="flex flex-col article-content">
				<div class="my-10">
					{% if has_excerpt(post.ID) %}
						<span class="inline-block pb-10 text-xl font-medium">Introduction</span>
						<div class="mb-5 space-y-5 body-1">
							{% set excerpt = post.excerpt.read_more('') %}
							{{ excerpt|length > 2000 ? excerpt|slice(0, 200) ~ '...' : excerpt }}
						</div>
					{% endif %}
					{# {% include 'partials/socials.twig' with { 'article_url': post.link } %} #}
				</div>
				<div class="space-y-10 article-body body-1 wysiwyg">
					{{ post.content }}
				</div>
			</section>
		</article>

		{# <div class="px-4 mt-12 h2 md:px-0 lg:mt-24">
					You may also be interested in...
				</div> #}
		<div class="pt-10 space-y-12 md:grid md:grid-cols-2 md:space-y-0 lg:grid-cols-3 lg:gap-10">
			{% for post in related_posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
