<div class="tease h-full border border-black bg-card-bg tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
	{% block content %}
		<div class="relative py-4 mx-10 my-4">

			{% set thumbnail_id = function('get_post_thumbnail_id', post.ID) %}
			{% if thumbnail_id %}
				{% set image_src = function('wp_get_attachment_image_url', thumbnail_id, 'full') %}
				{% set image_srcset = function('wp_get_attachment_image_srcset', thumbnail_id, 'full') %}
				{% set image_sizes = function('wp_get_attachment_image_sizes', thumbnail_id, 'full') %}

				<div
					class="relative w-full h-full">
					<!-- SVG Clip Path -->
					<svg class="absolute inset-0 z-50 w-full h-full" viewbox="0 0 210 219" preserveaspectratio="none" xmlns="http://www.w3.org/2000/svg">
						<clipPath id="shape-{{shape_index}}-{{post.ID}}" clippathunits="objectBoundingBox">
							{% if shape_index == 1 %}
								<path transform="scale(0.00476, 0.00457)" d="M209.586 109.292C209.461 107.635 209.046 106.062 208.341 104.571C207.553 101.962 206.35 99.6011 204.691 97.4062C202.576 94.5486 200.087 91.9809 197.225 89.8688C195.4 88.4608 193.327 87.5082 191.128 87.0527C189.262 86.3072 187.354 86.183 185.321 86.5971C180.095 88.1294 174.911 89.8274 169.726 91.6082C175.035 87.0941 180.386 82.5386 185.695 78.0244C186.815 77.0719 187.935 76.1194 189.054 75.1669C190.672 74.0901 191.709 72.6406 192.165 70.8184C193.078 68.9548 193.41 67.0083 193.161 64.8962C193.078 62.4528 192.538 60.0922 191.543 57.8972C190.755 55.2881 189.552 52.9276 187.893 50.7326C186.69 49.3245 185.529 47.9165 184.326 46.5084C182.003 44.1478 179.349 42.2842 176.321 40.9589C174.994 40.5862 173.625 40.2135 172.298 39.8407C169.767 39.4266 167.403 39.9236 165.246 41.3316C158.403 44.272 151.559 47.3367 144.798 50.4841C145.545 48.7862 145.835 46.9639 145.586 45.0175C145.337 43.4852 145.088 41.9528 144.881 40.4205C144.259 37.8114 143.222 35.4094 141.729 33.2145C140.941 31.5165 139.862 30.0256 138.576 28.7004C137 26.5882 135.092 24.766 132.853 23.2751C131.484 22.5297 130.115 21.7842 128.746 21.0388C126.258 19.9206 123.645 19.5893 120.949 20.0034C115.556 22.1984 110.247 24.5175 104.98 26.9196C105.229 24.766 105.063 22.6539 104.358 20.5418C103.735 17.9327 102.698 15.5307 101.205 13.3358C99.961 10.8509 98.3019 8.65598 96.2695 6.70952C94.9422 5.63276 93.6564 4.51458 92.3291 3.43782C89.882 1.69843 87.1445 0.538838 84.1996 0.0418701C82.9553 0.0832841 81.6694 0.0832841 80.4251 0.124698C77.9365 0.66308 76.0285 1.98833 74.7013 4.14186C69.8899 9.73275 64.9541 15.2408 59.8938 20.666C46.3307 35.0781 32.104 48.869 17.2551 61.9144C12.9414 65.6831 8.62778 69.4103 4.23118 73.0547C2.61356 74.1315 1.57662 75.581 1.12037 77.4032C0.207869 79.2669 -0.12395 81.2133 0.124914 83.3254C0.373778 84.8577 0.622643 86.3901 0.83003 87.9224C1.45219 90.5315 2.48913 92.9335 3.98231 95.1284C4.77038 96.8264 5.84879 98.3173 7.13459 99.6425C8.71073 101.755 10.6187 103.577 12.8585 105.068C14.2272 105.813 15.596 106.559 16.9647 107.304C19.4534 108.422 22.0665 108.754 24.7625 108.339C28.3295 107.221 31.8551 106.02 35.3807 104.736C29.325 111.073 23.2278 117.368 16.9647 123.497C13.8954 126.52 10.7846 129.502 7.6738 132.484C6.05618 133.561 5.01925 135.01 4.56299 136.832C3.65049 138.696 3.31867 140.642 3.56754 142.755C3.65049 145.198 4.1897 147.559 5.18515 149.753C5.97323 152.363 7.17607 154.723 8.83516 156.918C10.038 158.326 11.1994 159.734 12.4022 161.142C14.725 163.503 17.3795 165.367 20.4074 166.692C21.942 167.23 23.6426 167.727 25.3432 167.851C24.5966 169.549 24.3062 171.413 24.5551 173.359C24.638 175.803 25.1773 178.163 26.1727 180.358C26.9608 182.968 28.1636 185.328 29.8227 187.523C31.0256 188.931 32.1869 190.339 33.3898 191.747C35.7125 194.108 38.3671 195.972 41.3949 197.297C42.7222 197.669 44.0909 198.042 45.4182 198.415C47.9483 198.829 50.3125 198.332 52.4694 196.924C66.6132 188.476 80.757 180.027 95.0666 171.869C99.8365 169.135 104.606 166.485 109.459 163.834C103.943 170.792 98.7581 178.081 94.1541 185.701C93.0757 187.44 92.578 189.304 92.6195 191.292C92.2877 193.528 92.495 195.764 93.2002 198.001L94.9422 202.805C96.0621 205.372 97.5968 207.692 99.5047 209.721C100.542 211.212 101.786 212.454 103.238 213.49C104.98 215.188 107.012 216.471 109.293 217.383C112.943 218.666 116.967 219.37 120.409 217.01C130.862 209.845 141.355 202.681 151.974 195.723C152.72 195.226 153.508 194.729 154.296 194.232C155.25 195.889 156.37 197.38 157.656 198.788C159.232 200.9 161.14 202.722 163.38 204.213C164.749 204.958 166.117 205.704 167.486 206.449C169.975 207.567 172.588 207.899 175.284 207.485L178.561 206.077C180.593 204.544 181.879 202.473 182.377 199.947C182.625 198.912 182.957 197.918 183.289 196.924C185.736 191.333 189.137 186.239 192.621 181.27C196.894 175.14 201.207 169.011 205.479 162.882C206.558 161.142 207.056 159.279 207.014 157.291C207.346 155.054 207.139 152.818 206.433 150.582C205.853 148.967 205.272 147.393 204.691 145.778C203.571 143.21 202.037 140.891 200.129 138.862C199.092 137.371 197.848 136.128 196.396 135.093C195.815 134.555 195.235 134.016 194.571 133.561C199.258 128.839 203.82 124.035 208.341 119.19C208.798 118.03 209.254 116.829 209.71 115.67C210.125 113.558 210.125 111.404 209.586 109.292Z"/>
							{% elseif shape_index == 2 %}
								<path transform="scale(0.00476, 0.00457)" d="M209.586 109.292C209.461 107.635 209.046 106.062 208.341 104.571C207.553 101.962 206.35 99.6011 204.691 97.4062C202.576 94.5486 200.087 91.9809 197.225 89.8688C195.4 88.4608 193.327 87.5082 191.128 87.0527C189.262 86.3072 187.354 86.183 185.321 86.5971C180.095 88.1294 174.911 89.8274 169.726 91.6082C175.035 87.0941 180.386 82.5386 185.695 78.0244C186.815 77.0719 187.935 76.1194 189.054 75.1669C190.672 74.0901 191.709 72.6406 192.165 70.8184C193.078 68.9548 193.41 67.0083 193.161 64.8962C193.078 62.4528 192.538 60.0922 191.543 57.8972C190.755 55.2881 189.552 52.9276 187.893 50.7326C186.69 49.3245 185.529 47.9165 184.326 46.5084C182.003 44.1478 179.349 42.2842 176.321 40.9589C174.994 40.5862 173.625 40.2135 172.298 39.8407C169.767 39.4266 167.403 39.9236 165.246 41.3316C158.403 44.272 151.559 47.3367 144.798 50.4841C145.545 48.7862 145.835 46.9639 145.586 45.0175C145.337 43.4852 145.088 41.9528 144.881 40.4205C144.259 37.8114 143.222 35.4094 141.729 33.2145C140.941 31.5165 139.862 30.0256 138.576 28.7004C137 26.5882 135.092 24.766 132.853 23.2751C131.484 22.5297 130.115 21.7842 128.746 21.0388C126.258 19.9206 123.645 19.5893 120.949 20.0034C115.556 22.1984 110.247 24.5175 104.98 26.9196C105.229 24.766 105.063 22.6539 104.358 20.5418C103.735 17.9327 102.698 15.5307 101.205 13.3358C99.961 10.8509 98.3019 8.65598 96.2695 6.70952C94.9422 5.63276 93.6564 4.51458 92.3291 3.43782C89.882 1.69843 87.1445 0.538838 84.1996 0.0418701C82.9553 0.0832841 81.6694 0.0832841 80.4251 0.124698C77.9365 0.66308 76.0285 1.98833 74.7013 4.14186C69.8899 9.73275 64.9541 15.2408 59.8938 20.666C46.3307 35.0781 32.104 48.869 17.2551 61.9144C12.9414 65.6831 8.62778 69.4103 4.23118 73.0547C2.61356 74.1315 1.57662 75.581 1.12037 77.4032C0.207869 79.2669 -0.12395 81.2133 0.124914 83.3254C0.373778 84.8577 0.622643 86.3901 0.83003 87.9224C1.45219 90.5315 2.48913 92.9335 3.98231 95.1284C4.77038 96.8264 5.84879 98.3173 7.13459 99.6425C8.71073 101.755 10.6187 103.577 12.8585 105.068C14.2272 105.813 15.596 106.559 16.9647 107.304C19.4534 108.422 22.0665 108.754 24.7625 108.339C28.3295 107.221 31.8551 106.02 35.3807 104.736C29.325 111.073 23.2278 117.368 16.9647 123.497C13.8954 126.52 10.7846 129.502 7.6738 132.484C6.05618 133.561 5.01925 135.01 4.56299 136.832C3.65049 138.696 3.31867 140.642 3.56754 142.755C3.65049 145.198 4.1897 147.559 5.18515 149.753C5.97323 152.363 7.17607 154.723 8.83516 156.918C10.038 158.326 11.1994 159.734 12.4022 161.142C14.725 163.503 17.3795 165.367 20.4074 166.692C21.942 167.23 23.6426 167.727 25.3432 167.851C24.5966 169.549 24.3062 171.413 24.5551 173.359C24.638 175.803 25.1773 178.163 26.1727 180.358C26.9608 182.968 28.1636 185.328 29.8227 187.523C31.0256 188.931 32.1869 190.339 33.3898 191.747C35.7125 194.108 38.3671 195.972 41.3949 197.297C42.7222 197.669 44.0909 198.042 45.4182 198.415C47.9483 198.829 50.3125 198.332 52.4694 196.924C66.6132 188.476 80.757 180.027 95.0666 171.869C99.8365 169.135 104.606 166.485 109.459 163.834C103.943 170.792 98.7581 178.081 94.1541 185.701C93.0757 187.44 92.578 189.304 92.6195 191.292C92.2877 193.528 92.495 195.764 93.2002 198.001L94.9422 202.805C96.0621 205.372 97.5968 207.692 99.5047 209.721C100.542 211.212 101.786 212.454 103.238 213.49C104.98 215.188 107.012 216.471 109.293 217.383C112.943 218.666 116.967 219.37 120.409 217.01C130.862 209.845 141.355 202.681 151.974 195.723C152.72 195.226 153.508 194.729 154.296 194.232C155.25 195.889 156.37 197.38 157.656 198.788C159.232 200.9 161.14 202.722 163.38 204.213C164.749 204.958 166.117 205.704 167.486 206.449C169.975 207.567 172.588 207.899 175.284 207.485L178.561 206.077C180.593 204.544 181.879 202.473 182.377 199.947C182.625 198.912 182.957 197.918 183.289 196.924C185.736 191.333 189.137 186.239 192.621 181.27C196.894 175.14 201.207 169.011 205.479 162.882C206.558 161.142 207.056 159.279 207.014 157.291C207.346 155.054 207.139 152.818 206.433 150.582C205.853 148.967 205.272 147.393 204.691 145.778C203.571 143.21 202.037 140.891 200.129 138.862C199.092 137.371 197.848 136.128 196.396 135.093C195.815 134.555 195.235 134.016 194.571 133.561C199.258 128.839 203.82 124.035 208.341 119.19C208.798 118.03 209.254 116.829 209.71 115.67C210.125 113.558 210.125 111.404 209.586 109.292Z"/>
							{% elseif shape_index == 3 %}
								<path transform="scale(0.00476, 0.00457)" d="M0 0H210V219H0V0Z"/>
							{% elseif shape_index == 4 %}
								<path transform="scale(0.00476, 0.00457)" d="M0 54.75L105 0L210 54.75V164.25L105 219L0 164.25V54.75Z"/>
							{% elseif shape_index == 5 %}
								<path transform="scale(0.00476, 0.00457)" d="M105 0L210 109.5L105 219L0 109.5L105 0Z"/>
							{% elseif shape_index == 6 %}
								<path transform="scale(0.00476, 0.00457)" d="M52.5 0L157.5 0L210 109.5L157.5 219H52.5L0 109.5L52.5 0Z"/>
							{% elseif shape_index == 7 %}
								<path transform="scale(0.00476, 0.00457)" d="M42 0H168L210 54.75L168 219H42L0 164.25L42 0Z"/>
							{% else %}
								<path transform="scale(0.00476, 0.00457)" d="M0 54.75C0 24.5156 24.5156 0 54.75 0H155.25C185.484 0 210 24.5156 210 54.75V164.25C210 194.484 185.484 219 155.25 219H54.75C24.5156 219 0 194.484 0 164.25V54.75Z"/>
							{% endif %}
						</clipPath>
					</svg>
					<!-- Image with Clip Path -->
					<img style="clip-path: url(#shape-{{shape_index}}-{{post.ID}});" src="{{ image_src }}" srcset="{{ image_srcset }}" sizes="{{ image_sizes }}" alt="{{ post.post_title }}" class="object-cover w-full h-full" style="clip-path: url(#shape);">
				</div>


			{% endif %}
		</div>

		<div class="px-6 pb-8 text-center">
			<h3 class="mb-1 h5">{{ post.post_title }}</h2>
			<div class="mb-3 text-white/80 body-3">
				{{ function('get_field', 'position', post.ID) }}
			</div>
			<div class="mb-6 text-white/80 body-2">{{ post.post_content }}</div>
			<div class="flex justify-center space-x-4 text-white/80 space-2 body-3">
				{% if function('get_field', 'x_url', post.ID) %}
					<a class="flex items-center w-[45px] h-[45px] hover:opacity-80 transition-all justify-center rounded-full bg-[#252525] p-3" href="{{ function('get_field', 'x_url', post.ID) }}" target="_blank">
						<svg class="block w-[12px] h-[12px]" width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.73508 6.35148L14.1991 0H12.9043L8.1599 5.5149L4.37056 0H0L5.73023 8.3395L0 15H1.29487L6.30508 9.17608L10.3069 15H14.6775L8.73477 6.35148H8.73508ZM6.96158 8.41297L6.38099 7.58255L1.76143 0.97476H3.75028L7.47831 6.30746L8.05891 7.13788L12.9049 14.0696H10.9161L6.96158 8.41329V8.41297Z" fill="white"></path>
						</svg>
					</a>
				{% endif %}
				{% if function('get_field', 'tik_tok_url', post.ID) %}
					<a class="flex items-center w-[45px] h-[45px] hover:opacity-80 transition-all justify-center rounded-full bg-[#252525] p-3" href="{{ function('get_field', 'tik_tok_url', post.ID) }}" target="_blank">
						<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.91553 8.92212C6.32219 8.92212 5.74217 9.09807 5.24882 9.42771C4.75547 9.75736 4.37095 10.2259 4.14389 10.7741C3.91683 11.3222 3.85742 11.9254 3.97317 12.5074C4.08893 13.0893 4.37465 13.6239 4.79421 14.0434C5.21377 14.463 5.74831 14.7487 6.33026 14.8645C6.9122 14.9802 7.5154 14.9208 8.06358 14.6938C8.61176 14.4667 9.08029 14.0822 9.40994 13.5888C9.73958 13.0955 9.91553 12.5155 9.91553 11.9221V2.92212C9.91553 3.91668 10.3106 4.87051 11.0139 5.57377C11.7171 6.27703 12.671 6.67212 13.6655 6.67212" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				{% endif %}
				{% if function('get_field', 'linkedin_url', post.ID) %}
					<a class="flex items-center w-[45px] h-[45px] hover:opacity-80 transition-all justify-center rounded-full bg-[#252525] p-3" href="{{ function('get_field', 'linkedin_url', post.ID) }}" target="_blank">
						<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 3.5625C3.98223 3.5625 3.5625 3.98223 3.5625 4.5V13.5C3.5625 14.0178 3.98223 14.4375 4.5 14.4375H13.5C14.0178 14.4375 14.4375 14.0178 14.4375 13.5V4.5C14.4375 3.98223 14.0178 3.5625 13.5 3.5625H4.5ZM2.4375 4.5C2.4375 3.36091 3.36091 2.4375 4.5 2.4375H13.5C14.6391 2.4375 15.5625 3.36091 15.5625 4.5V13.5C15.5625 14.6391 14.6391 15.5625 13.5 15.5625H4.5C3.36091 15.5625 2.4375 14.6391 2.4375 13.5V4.5ZM6 7.6875C6.31066 7.6875 6.5625 7.93934 6.5625 8.25V12C6.5625 12.3107 6.31066 12.5625 6 12.5625C5.68934 12.5625 5.4375 12.3107 5.4375 12V8.25C5.4375 7.93934 5.68934 7.6875 6 7.6875ZM6.5625 6C6.5625 5.68934 6.31066 5.4375 6 5.4375C5.68934 5.4375 5.4375 5.68934 5.4375 6V6.0075C5.4375 6.31816 5.68934 6.57 6 6.57C6.31066 6.57 6.5625 6.31816 6.5625 6.0075V6ZM9.48036 7.95717C9.38156 7.79544 9.20339 7.6875 9 7.6875C8.68934 7.6875 8.4375 7.93934 8.4375 8.25V9.75V12C8.4375 12.3107 8.68934 12.5625 9 12.5625C9.31066 12.5625 9.5625 12.3107 9.5625 12V9.75C9.5625 9.50136 9.66127 9.2629 9.83709 9.08709C10.0129 8.91127 10.2514 8.8125 10.5 8.8125C10.7486 8.8125 10.9871 8.91127 11.1629 9.08709C11.3387 9.2629 11.4375 9.50136 11.4375 9.75V12C11.4375 12.3107 11.6893 12.5625 12 12.5625C12.3107 12.5625 12.5625 12.3107 12.5625 12V9.75C12.5625 9.20299 12.3452 8.67839 11.9584 8.29159C11.5716 7.9048 11.047 7.6875 10.5 7.6875C10.1394 7.6875 9.78845 7.78196 9.48036 7.95717Z" fill="white"/>
						</svg>
					</a>
				{% endif %}
				{% if function('get_field', 'e_mail', post.ID) %}
					<a class="flex items-center w-[45px] h-[45px] hover:opacity-80 transition-all justify-center rounded-full bg-[#252525] p-3" href="{{ function('get_field', 'e_mail', post.ID) }}" target="_blank">
						<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.05732 4.89794C3.1745 4.51381 3.5317 4.23438 3.95416 4.23438H14.4542C14.8766 4.23438 15.2338 4.51381 15.351 4.89794L9.20416 8.99583L3.05732 4.89794ZM1.89169 5.16157C1.89158 5.16757 1.89157 5.17357 1.89166 5.17957V12.6719C1.89166 13.811 2.81507 14.7344 3.95416 14.7344H14.4542C15.5933 14.7344 16.5167 13.811 16.5167 12.6719V5.17956M15.3917 6.22292V12.6719C15.3917 13.1896 14.9719 13.6094 14.4542 13.6094H3.95416C3.43639 13.6094 3.01666 13.1896 3.01666 12.6719V6.22292L8.89214 10.1399C9.08109 10.2659 9.32724 10.2659 9.51618 10.1399L15.3917 6.22292ZM16.5166 5.16158C16.5111 4.02723 15.5898 3.10938 14.4542 3.10938H3.95416C2.81851 3.10938 1.89723 4.02723 1.89169 5.16157" fill="white"/>
						</svg>
					</a>
				{% endif %}
			</div>
		</div>
	{% endblock %}
</div>
