<div class="grid grid-cols-1 gap-12 lg:grid-cols-3">

    {# Column 1 #}
    {% if fields.application_col_1 %}
        <div>
            {% for item in fields.application_col_1 %}
                <h3 class="h5">{{ item.title }}<div class="w-[64px] h-[3px] my-6 bg-white"></div></h3>
                <div class="text-base wysiwyg text-white/80 leading-[200%]">{{ item.text }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {# Column 2 #}
    {% if fields.application_col_2 %}
        <div>
            {% for item in fields.application_col_2 %}
                <h3 class="h5">{{ item.title }}<div class="w-[64px] h-[3px] my-6 bg-white"></div></h3>
                <div class="text-base wysiwyg text-white/80 leading-[200%]">{{ item.text }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {# Column 3 (with nested repeater) #}
    {% if fields.application_col_3 %}
        <div>
            {% for item in fields.application_col_3 %}
                <h3 class="h5">{{ item.title }}<div class="w-[64px] h-[3px] my-6 bg-white"></div></h3>
                <div class="text-base wysiwyg text-white/80 leading-[200%]">{{ item.text }}</div>

                {# Check if there are nested items #}
                {% if item.items %}
                    <ul class="mt-4 space-y-4">
                        {% for sub_item in item.items %}
                            <li class="p-5 space-y-6 bg-white/10">
                                <h4 class="text-2xl font-bold leading-[150%] antialiased">{{ sub_item.title }}</h4>
                                <p class="text-base wysiwyg text-white/80 leading-[200%]">{{ sub_item.text }}</p>
                                <p class="text-lg leading-[150%] text-[#F9E7C2] tracking-tight">{{ sub_item.revenue }} / year</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}

</div>
