{# <svg class="absolute top-0 left-0 -z-10" width="572" height="1198" viewbox="0 0 572 1198" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M-631 -47.6L-55 -880V208.8L-631 -47.6ZM-4.59961 -880V208.8L571.4 -47.6L-4.59961 -880ZM-404 108.6L-25.6 264L343 112.2L571.4 196.8L-29.8 453.2L-631 196.8L-404 108.6ZM-55 735L-631 486.8L-55 1197.4V735ZM571.4 486.8L-4.59961 735V1197.4L571.4 486.8ZM-25.6 506.4L-404 350.8L-631 439L-29.8 695.6L571.4 439L343 354.4L-25.6 506.4Z" fill="url(#paint0_radial_4864_39510)" style="mix-blend-mode:lighten"/>
	<defs>
		<radialGradient id="paint0_radial_4864_39510" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(13.0003 159) rotate(-90) scale(1039 635.361)">
			<stop stop-color="#454545"/>
			<stop offset="1" stop-color="#0E0E0E" stop-opacity="0"/>
		</radialGradient>
	</defs>
</svg> #}
<svg class="absolute top-0 left-0 w-1/3 -z-10" fill="none" viewBox="0 0 572 1198">
  <path fill="url(#a)" fill-rule="evenodd" d="M-631-47.6-55-880V208.8L-631-47.6ZM-4.6-880V208.8l576-256.4L-4.6-880ZM-404 108.6-25.6 264 343 112.2l228.4 84.6-601.2 256.4L-631 196.8l227-88.2ZM-55 735l-576-248.2 576 710.6V735Zm626.4-248.2L-4.6 735v462.4l576-710.6Zm-597 19.6L-404 350.8-631 439l601.2 256.6L571.4 439 343 354.4l-368.6 152Z" clip-rule="evenodd" style="mix-blend-mode:lighten"/>
  <defs>
    <radialGradient id="a" cx="0" cy="0" r="1" gradientTransform="matrix(0 -1039 635.361 0 13 159)" gradientUnits="userSpaceOnUse">
      <stop stop-color="#454545"/>
      <stop offset="1" stop-color="#0E0E0E" stop-opacity="0"/>
    </radialGradient>
  </defs>
</svg>
<div class="lg:pt-[2rem] pb-7 lg:pb-14">
	<div class="relative flex flex-col lg:flex-row-reverse lg:flex-wrap">
		{% set title = fields.title ?? 'Hero Home' %}
		{% set text = fields.text ?? '' %}
		{% set image = fields.image_hero_home ? get_image(fields.image_hero_home) : false %}
		<div class="lg:w-5/12 lg:pl-12">
			{% if image %}
				<div class="relative aspect-w-16 aspect-h-15">
					<img loading="lazy" class="object-cover object-center" src="{{ image.src }}" srcset="{{ image.srcset }}" sizes="(max-width: 768px) 100vw, (max-width: 1024px) 700px" alt="{{ image.alt | default('Our Team') }}">
				</div>
			{% endif %}
		</div>
		<div class="lg:w-7/12 lg:pr-12">
			<h1 class="h1 pt-[4.5rem] text-white ">{{ title | raw | replace({'<p>': '', '</p>': ''}) }}</h1>
			<div class="pt-4 body-1">
				{{ text | raw }}
			</div>
		</div>

	</div>
</div>
